<div class="col-lg-6">
    <article data-category="projectType">
        <header>
            <h2>{{title}}</h2>
            <div class="contributors">
                <a href="{{contributorUrl}}">By {{contributor}}</a>
                <time pubdate datetime="2000-01-01" title={{postDate}}>{{publishStatus}}</time>
                <div>
                    <img src="{{imgSrc}}" alt="{{imgAlt}}">
                </div>
            </div>
        </header>
        <section class="projDescription">{{{projDescription}}}
        </section>
        <a href="#" class="read-on">More &rarr;</a>
        <a href="#" class="shrink">&larr;Less</a>
    </article>
</div>
